
@{
    ViewBag.Title = "Catalogue";
     <link rel="stylesheet" href="~/SalesStyle/Sales.css" type="text/css"/>
}

<h2>Catalogue</h2>
<div>
<p>App Cloud</p>
<img src="~/Images/images1/App%20cloud.jpg" />
</div>
<div>
<p>Community Cloud</p>
<img src="~/Images/images1/Salesforce-Community-Cloud-v2-1500x1500.png" />
    </div>
<div>
    <p>Marketing Cloud</p>
<img src="~/Images/images1/marketing-cloud-solution.jpg" />
</div>
<div>
    <p>Service Cloud</p>
<img src="~/Images/images1/service-cloud.jpg" />
    </div>
<div>
    <p>Sales Cloud</p>
<img src="~/Images/images1/Sales%20cloud.jpg" /> 
    </div>  